// @import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
.wrapper {
    // font-family: sans-serif;
    // font-family: 'Oleo Script', cursive;
    // font-family: 'Monoton', cursive;
    // font-family: 'Yeseva One', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-size: 16px;
    line-height: 1.5;
}